<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body style="background-image: url('https://t4.ftcdn.net/jpg/01/00/21/51/360_F_100215168_RoT5l9z2nQboF2folRFVBsBDZmOVlC03.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color:bisque; width: 50%; padding: 30px; border-radius: 8px;">
        <div class="register-container">
            <h1 style="text-align: center;">Register</h1>
            <form action="/register" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <input type="submit" value="Register" style="width: 100%;">
            </form>
        </div>
    </div>
</body>
</html>
